*{
    margin: 0;
    padding: 0;
}

#wrapper{
    display: flex;
    flex-direction: column;
    height: 100vh;
}

header{
    background-color: gray;
    height: 50px;
}

section{
    flex: 1;
}

footer{
    background-color: gray;
    height: 50px;
}