<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', path='style.css') }}">
    <title>Document</title>
</head>
<script src="https://unpkg.com/axios@1.1.2/dist/axios.min.js"></script>
<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
{% raw %}
<body>
    
    <div id="wrapper">
        <header></header>
        <section>
            <!-- <div class="container">
                {{ test }}
            </div> -->
        </section>
        <footer></footer>
    </div>
    
</body>
{% endraw %}
<script src="{{ url_for('static', path='main.js') }}"></script>
</html>